body {
  margin: 0;
}

.main {
  padding: 8px;
}

.recipes {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  justify-content: space-between;
  max-width: 500px;
}

.recipes + .recipes {
  margin-top: 4px;
}

.recipes > * + * {
  margin-left: 4px;
}
.recipes img{width: 200px;}